@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}


body {
  margin: 0px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.00938em;
  background-color: rgb(240, 242, 245);
  height: 100vh;
}

.table-header-text {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.625;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.0075em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-header {
  position: relative;
  opacity: 0.7;
  background: transparent;
  color: rgb(123, 128, 154);
  box-shadow: none;
  font-size: 0.65rem;
  padding: 0.5rem 1rem 1em;
  font-weight: 700;
  text-transform: uppercase
}

.fade-enter {
  opacity: 0;
  transform: translateY(20px); /* Slide in from the bottom */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms ease-in-out, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px); /* Slide out to the top */
  transition: opacity 200ms ease-in-out, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
